# system
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
Thumbs.db

# security
*.pem
*.key
*.crt

# environment
.env
.env.*
.env*.local
.infisical.json
!.env.example

# dependencies
jspm_packages/
node_modules/
web_modules/
.pnpm-store/
.pnpm-debug.log*
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# debug
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
turbo.log*

# diagnostic
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# runtime
pids
*.pid
*.seed
*.pid.lock

# build
.nuxt/
.next/
out/
build/
dist/
lib-cov/
coverage/
*.lcov
.grunt/
.turbo/

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# docker
.dockerignore
docker-compose.override.yml

# deployment
.vercel

# cache
.cache/
.eslintcache

# custom
debug/
.npmrc.local
rubix-studios.json
log.txt
urls.txt
